body{
	cursor: default;
    padding: 0 !important;
    background-image: url("../img/background.png");
    background-repeat: repeat;
}
.popover {
	max-width:	450px;
}
.footer{ text-align:center;}

#refresh{
	color:		white;
	min-width:	34px;
	text-align:	center;
	display:block;
	float: right;
}

@media (min-width: 1800px){
	.container {
		width: 1700px;
	}
	.span4 {
		width: 545px;
	}	
}
@media (min-width: 980px){
	body {
		padding-top: 60px;
	}
}

.icon-red {
  background-image: url("/img/glyphicons-halflings-red.png") !important;
}
.icon-purple {
  background-image: url("/img/glyphicons-halflings-purple.png") !important;
}
.icon-blue {
  background-image: url("/img/glyphicons-halflings-blue.png") !important;
}
.icon-lightblue {
  background-image: url("/img/glyphicons-halflings-lightblue.png") !important;
}
.icon-green {
  background-image: url("/img/glyphicons-halflings-green.png") !important;
}
.icon-yellow {
  background-image: url("/img/glyphicons-halflings-yellow.png") !important;
}
.icon-orange {
  background-image: url("/img/glyphicons-halflings-orange.png") !important;
}

.table {
    width: 100%;
}

.table td {
    padding: 20px 0 20px 10px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    border: none;
    vertical-align: inherit;
}

.popover {
    color: #000000;
}
.table th {
    background-image: linear-gradient(to bottom,#222,#111);
    background-repeat: repeat-x;
    color: #ffffff;
}

.table th a {
    color: #ffffff;
}


.table tr {
    display: inline-table;
    width: 100%;
    margin: 5px 0 5px 0;
    border-radius: 20px;
}

.alert-tr td {
    background-color: #ff6d69 !important;
    animation-name: alert-bg;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.normal-tr td {
    background-color: #006400 !important;
}

.container {
    width: 100%;
}

.btn {
    padding: 10px !important;
}

/* The animation code */
@keyframes alert-bg {
    from {background-color: #ff6d69;}
    to {background-color: rgba(255, 117, 112, 0.27);}
}

.pop {
    margin: -10px 0 0 10px;
}

.omg-alarm {
    background-image: url("../img/pornstar.png");
    width: 394px;
    height: 389px;
    background-repeat: no-repeat;
    position: fixed;
    animation-name: omg-image;
    animation-duration: 0.5s;
    animation-iteration-count: 10;
    top: 50%;
    left: 50%;
    margin-top: -197px;
    margin-left: -195px;
}

@keyframes omg-image {
    from {opacity: 0; }
    to {opacity: 1;}
}

.navbar-fixed-top {
    margin: 0 !important;
}

.table th {
    font-size: 28px;
    font-weight: bold;
}

.row {
    margin: 0 !important;
}

.table { border-collapse: separate; }
.table tr td:first-child { border-top-left-radius: 15px; }
.table tr td:last-child { border-top-right-radius: 15px; }
.table tr td:first-child { border-bottom-left-radius: 15px; }
.table tr td:last-child { border-bottom-right-radius: 15px; }

.table th {
    border-top: none;
}