<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Supervisord Monitor{% endblock %}</title>
    <link href="/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>
